syn0_ngf_2000_2012_full.txt
vocab_list_ngf_2000_2012_full.txt
w2vmodel_ng5_2000_2012_full
ngrams/googlebooks-eng-all-5gram-20120701-0.gz
ngrams/googlebooks-eng-all-5gram-20120701-bi.gz
ngrams/googlebooks-eng-all-5gram-20120701-0/googlebooks-eng-all-5gram-20120701-0
ngrams/googlebooks-eng-all-5gram-20120701-bi/googlebooks-eng-all-5gram-20120701-bi
